div {
background-image: url("https://t4.ftcdn.net/jpg/01/40/21/27/240_F_140212713_4B8g6uWgECo0B9MOi87AiNHmqLGJF8ZA.jpg");
text-align: center;
}
p {
    font :25px/32px Verdana;
}
h1{color:#8B0000;
   font : 70px/90px Impact
   }